{% extends 'base.html' %}
{% block title %}Aakash Resume{% endblock %}
{% block css %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/demo/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/demo/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/demo/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/demo/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/demo/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/demo/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/demo/style.css" rel="stylesheet">
{% endblock css %}
{% block body %}{% endblock  %}
{% block style %}   


 {% endblock  %}

{% block content %}

{% load static %}


  <!-- Google Fonts -->
 







  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Aakash Singh</h1>
      <p>I'm <span class="typed" data-typed-items="Designer,Quality Enginee, Developer, Freelancer, Quality Engineer"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/himanshu_aakash?s=08" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100007297172367" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/aakash_singh1102/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/aakash-singh-772a1520a" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->


{% block script %}
  <!-- Vendor JS Files -->
  <script src="/static/demo/assets/vendor/aos/aos.js"></script>
  <script src="/static/demo/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/demo/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/demo/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/demo/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/demo/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/demo/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/demo/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/demo/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/demo/main.js"></script>
{% endblock  %}
 {% endblock  %}